@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This Web Calculator is Developed By</h1>
    <h1 class="display-4"> Arun Dotnet Batch</h1>
    <h1 class="display-4"> Anudip</h1>
</div>
